@import url('https://fonts.googleapis.com/css2?family=Passero+One&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}



.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}

#imgGo{
  width: 100%;
}

.socialMedia{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 5rem;
}


a{

    text-decoration: none;
    color: aliceblue;
    font-family: 'Passero One', cursive;
}



button{

 
    font-size: 1rem;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 0 10px grey;
    
}

#tele1{
    background-color: palevioletred;
   
    
    color: white;
}



#link1{
    background-color: rgb(90, 90, 255);
    
    color: white;
}

#insta1{
    background-color: rgb(255, 134, 90);
    
    color: white;
}


#insta2{
    background-color: rgb(6, 172, 111);
    
    color: white;
}


#tele2{
    background-color: rgb(202, 167, 43);
    
    color: white;
}

#facebook{
    background-color: rgb(148, 22, 232);
    
    color: white;
}
